@import "../fonts/sarabun.css";

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

.AboutMe {
    background: #222135;
    height: 100vh;
    width: 100vw;
    display: inline-block;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 0px;
    padding: 0px;
    z-index: 1;
}

.about {
    width: 100%;
    margin-top: 6vh;
    pointer-events: none;
}


#name {
    width: 60vw;
}

#title {
    width: auto;
    display: inline-flex;
}

#bio {
    width: 70vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.links {
    color: white;
    width: 15vw;
    height: 10vh;
    right: 0px;
    left: auto;
    position: absolute;
    display: inline-flex;
}

a {
    color: white;
    font-family: "Sarabun";
    font-weight: normal;
    font-size: 2vw;
    text-decoration: none;
    margin-left: 0.1%;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding: auto;
}

img {
    margin: 5%;
    margin-right: 1%;
    margin-top: auto;
    margin-bottom: auto;
    padding: auto;
    width: 4vw;
    height: 4vw;
    transition: all;
    transition-duration: 500ms;
}

img:hover {
    transform: scale(1.2);
    filter: drop-shadow(2px 2px 1px #CFCFCF);
}

.info {
    margin-top: 6%;
}