@import "../fonts/sarabun.css";

h1 {
  font-family: "Sarabun";
  color: white;
  text-align: left;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 0%;
  padding-bottom: 0%;
  font-weight: 800;
  font-size: 100px;
  margin-bottom: 0;
}

h2 {
  font-family: "Sarabun";
  color: #CFCFCF;
  text-align: left;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 0%;
  padding-bottom: 0%;
  font-weight: 600;
  font-size: 50px;
  margin-top: 0;
}

p {
  text-align: left;
  padding-left: 5%;
  padding-right: 5%;
  font-family: "Sarabun";
  color: white;
  font-size: 32px;
  font-weight: normal;
}

button {
  font-family: "Sarabun";
  font-weight: medium;
  font-size: 32px;
  color: white;
  background-color: #222135;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 5%;
  margin-right: 5%;
  width: 25%;
  border: 1px solid white;
  border-radius: 10px;
  cursor: pointer;
  z-index: 999999;
  transition-property: all;
  transition-duration: 500ms;
  pointer-events: visible;
}

button:hover {
  color: #222135;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px 0px inset;
}

b {
  color: white;
  font-weight: 600px;
}