@import "../fonts/sarabun.css";

.links {
    color: white;
    width: 30vw;
    height: 10vh;
    right: 0px;
    left: auto;
    position: absolute;
    display: inline-flex;
}

a {
    color: white;
    font-family: "Sarabun";
    font-weight: normal;
    font-size: 1.7vw;
    text-decoration: none;
    margin-left: 0.1%;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding: auto;
}

a:hover {
    font-weight: 600;
}

a.selected {
    color : #EE5F5F;
    font-weight: 600;
}