.Portfolio {
    background: #222135;
    min-height: 100vh;
    height: auto;
    width: 100vw;
    display: inline-block;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 0px;
    padding: 0px;
    z-index: 1;
    overflow-y: scroll;
}

.filters {
    width: 50vw;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2vw;
    margin-bottom: 2vw;
    padding: auto;
    display: flex;
}

button.filter {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    margin-top: auto;
    padding-left: 2vw;
    padding-right: 2vw;
    width: auto;
    border-radius: 500px;
    color: white;
    background-color: #222135;
    display: block;
    height: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
}

button.filter:hover {
    background-color: white;
    color: #222135;
}

@media only screen and (max-width: 786px) {
    .projects {
        width: 70vw;
        height: auto;
        margin: auto;
        padding: auto;
        display: grid;
        grid-template-columns: 1fr;
    }
}

.projects {
    width: 70vw;
    height: auto;
    margin: auto;
    padding: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

img.check {
    height: 1.5vw;
    object-fit: contain;
    margin-top: auto;
    margin-bottom: auto;
    padding: auto;
}

button.filter_clicked {
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 0;
    padding-right: 2vw;
    width: auto;
    height: auto;
    border-radius: 500px;
    color: #222135;
    background-color: white;
    height: 4vw;
    align-items: center
}

div.text {
    white-space: nowrap;
    overflow: hidden;
    display: flex;
}