@import "../fonts/sarabun.css";

div.project {
    width: 20vw;
    height: 20vw;
    margin: auto;
    margin-top: 1vw;
    margin-bottom: 1vw;
    position: relative;
    cursor: pointer;
}

img.project {
    width: 20vw;
    height: 20vw;
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0 0 1px white;

}

.blur {
    -webkit-filter: blur(2px);
    filter: blur(2px);
}

div.info {
    position: absolute;
    width: 75%;
    height: 75%;
    bottom: 12.5%;
    right: 12.5%;
    background-color: white;
    z-index: 2;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

div.sticky {
    position: absolute;
    width: 20%;
    height: 10%;
    top: -5%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: #212121;
    opacity: 0.8;
    z-index: 3;
    transform: rotate(-7deg);
}

h5.projTitle.projTitle {
    font-family: "Sarabun";
    font-weight: 600;
    font-size: 2.5vw;
    text-align: center;
}

h6 {
    font-family: "Sarabun";
    font-weight: 400;
    font-size: 1.5vw;
    text-align: center;
}

p.description {
    margin-top: 5%;
    font-family: "Sarabun";
    font-size: 1vw;
    color: black;
    text-align: center;

}

div.information {
    transform: translateY(15%);
    color: black;
}

@media only screen and (max-width: 1100px) {
    div.project {
        width: 30vw;
        height: 30vw;
        margin: auto;
        margin-top: 1vw;
        margin-bottom: 1vw;
        position: relative;
    }

    p.description {
        margin-top: 5%;
        font-family: "Sarabun";
        font-size: 1.5vw;
        color: black;
        text-align: center;
    }

    h5.projTitle.projTitle {
        font-family: "Sarabun";
        font-weight: 600;
        font-size: 3vw;
        text-align: center;
    }

    h6 {
        font-family: "Sarabun";
        font-weight: 400;
        font-size: 2vw;
        text-align: center;
    }
}

@media only screen and (max-width: 786px) {
    div.project {
        width: 65vw;
        height: 65vw;
        margin: auto;
        margin-top: 1vw;
        margin-bottom: 1vw;
        position: relative;
    }

    p.description {
        margin-top: 5%;
        font-family: "Sarabun";
        font-size: 3vw;
        color: black;
        text-align: center;
    }

    h5.projTitle {
        font-family: "Sarabun";
        font-weight: 600;
        font-size: 8vw;
        text-align: center;
        color: black;
    }

    h6 {
        font-family: "Sarabun";
        font-weight: 400;
        font-size: 6vw;
        text-align: center;
        color: black;
    }
}