body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root {
  --font-color: #222135;
  --background-color: white;
  --accent: #EE5F5F;
  --subtitle: #6F6F6F;
  --icons: #CFCFCF;
}

[data-theme="dark"] {
  --font-color: white;
  --background-color: #222135;
  --accent: #EE5F5F;
  --subtitle: #CFCFCF;
  --icons: #6F6F6F;
}